<div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center justify-content-center align-items-center">

    <main role="main" class="inner cover text-center">
        <div class="transparent">
            <h1 class="cover-heading animate__animated animate__bounceInLeft text-gradient">
                Gamomagic
            </h1>
            <p class="lead"><span class="text-gradient">Gamomagic</span> is a place where the <span class="text-gradient">best games</span> can be found.</p>

            <p class="lead">
                <a href="/search" class="btn btn-secondary">Explore games</a>
            </p>
        </div>
    </main>

</div>