/* Custom Theming for Angular Material */
/* For more information: https://material.angular.io/guide/theming */
/*
deeppurple-amber.css
indigo-pink.css
pink-bluegrey.css
purple-green.css
*/
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1e1e1e;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 30px;
    color: white;
    overflow: auto;
}